# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / Build outputs
.dist/
dist/
build/
.vite/
*.local

# Env files
.env
.env.*.local
.firebase/
.firebase/*

# Firebase logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage and caches
coverage/
/.turbo
/.cache

# Functions (Cloud Functions)
functions/lib/
functions/node_modules/
functions/.env
functions/.runtimeconfig.json

# Misc
*.swp
*.swo
*.tmp
*.log



# Ignore guides
DEPLOY_GUIDE.md
sensor-dashboard/BASELINE_TRAINING_GUIDE.md
BAI_TRA_LOI_CAU_HOI.md
